.navbarContainer .navLinks{
   align-items: center;
}

.navbarContainer .navLinks .navItem{
   font-size: 0.875rem;
   color: var(--text-primary-color);
}

.navbarContainer .navLinks .navItem:hover{
    opacity: .9;
 }

 .navPopup{
   position: fixed;
   top: 60px;
   width: 100vw;
   left: 0;
   z-index: 100;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .navPopupContent{
   width: calc(100% - 2rem);
   border-radius: 5px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 }

 .navPopupContent > *{
    color: var(--text-primary-color);
    
 }