.managementSection{
       height: 100vh
}

.managementSection .managementImage{
    height: 90%
}

.dotBlock{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #47CFFF;
}

.managementBlock{
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
}


@media screen and (max-width: 768px) {
    .managementSection{
        height: fit-content;
        margin: 80px 0px;
        flex-direction: column;
    }
}